@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .app-body {
    min-width: 420px;
  }

  img[alt='previewavatar'] {
    max-width: 7.5rem;
  }
}

@layer components {
  .grand-button {
    position: relative;
    padding: 0;
    margin-top: 6px;
    border: none;
    background: transparent;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
  }

  .grand-button:hover {
    filter: brightness(110%);
  }

  .grand-button:focus:not(:focus-visible) {
    outline: none;
  }

  .grand-button__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
  }

  .grand-button:hover .grand-button__shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
  }

  .grand-button:active .grand-button__shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }

  .grand-button__edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
        hsl(340deg 100% 16%) 0%,
        hsl(340deg 100% 32%) 8%,
        hsl(340deg 100% 32%) 92%,
        hsl(340deg 100% 16%) 100%);
  }

  .grand-button__front {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 500ms cubic-bezier(.3, .7, .4, 1);
  }

  .grand-button:hover .grand-button__front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
  }

  .grand-button:active .grand-button__front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
}